<div fxLayout="row">
      <mat-toolbar fxLayoutAlign="start stretch" role="heading" style="background-color: rgba(0,0,0,.14);">
        <img src="./../../assets/miracle-logo-01.svg" style="height : 3em; width:10em">
      </mat-toolbar>
</div>

