.Footer {
    padding: 1.5rem;
    background: #404040;
    color: #999;
    font-size: .85em;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
}

.Footer-credits {
    margin: 0;
    padding: 0;
}

.Footer a {
    padding-bottom: 1px;
    border: 0;
    color: #e5e5e5;
}