<footer fxLayout="row">
    <div class="Footer">
            <div class="Footer-credits">
                    <span class="Footer-credit">Created and maintained by <a href="https://www.miraclesoft.com/">Miracle Software Systems</a>.</span> 
                    <span class="Footer-credit">Source code and examples are released under the <a href="https://gitlab.com/EmmanuelJennings/miracle-ux-components.git">GITLab</a> license.</span> 
                    <span class="Footer-credit">Website and documentation licensed under <a href="https://www.miraclesoft.com/">CC BY 1.0</a>.</span>
                </div>
    </div>
</footer>
