.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  #accordion-1 {
    max-width: 100%;
  }

  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgb(0, 0, 0), 0 1px 1px 0 rgb(0, 0, 0), 0 1px 3px 0 rgba(0,0,0,.6);
}