<div fxLayout="column wrap">
  <div>
    <mat-card class="example-card" id="accordion-1">
      <mat-card-header>
        <mat-card-title>
          Each expansion-panel must include a header and may optionally include an action bar.
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Personal data
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" fxLayoutGap="40px" fxLayoutAlign="center center">
                
                  <div>
                      <mat-panel-description>
                          Type your name and age
                        </mat-panel-description>
                  </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="First name">
                  </mat-form-field>
      
                </div>
                <div>
                  <mat-form-field>
                    <input matInput placeholder="Age">
                  </mat-form-field>
                </div>
            </div>
            
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Self aware panel
              </mat-panel-title>
              <mat-panel-description>
                Currently I am {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>


        

      </mat-card-content>

      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>